.about_main {
  height: 100vh;
  min-width: 400px;
  justify-content: center;
  align-items: center;
  color: black;
  background-color: rgb(185, 100, 100);
  display: flex;
}
.about_mainContainer {
  width: 80%;
}

.about_info {
  width: 80%;
  height: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.about_img {
  width: 50%;
  width: 350px;
  height: 430px;
  background-image: url(../../Img/titlePhoto.png);
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
}
.about_text {
  flex-direction: row;
  margin-left: 300px;
  display: flex;
  justify-content: flex-start;
  width: 40%;
  font-size: 30px;
  flex-wrap: wrap;
}
