.work_main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  min-width: 400px;
  color: white;
  background-color: blueviolet;
}
.workTitle {
  width: 80%;
  font-size: 50px;
  font-weight: 700;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}